<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blogs.css">
</head>

<body>
	<div class="wrap">
		<h1>
			Blog
			<a href="/blogs" class="icon iconfont icon-fanhui"></a>
		</h1>
		<div class="wrap_left" id="information">
		</div>
		<div class="wrap_right">
			<div id="blog">				
			</div>
		</div>
	</div>
    <script type="text/javascript" src="/javascripts/blog.js"></script>
</body>

</html>
