<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tong Xu's Personal Website</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
	<div id="bg">    
        <div class="container" id="container">
            <div class="title">
                <h1>童旭个人的网站</h1>
                <h2>Tong Xu's Personal Website</h2>
            </div>
            <div class="menu">
                <a href="/blogs">Blogs</a> |
                <a href="">News</a> |
                <a href="/about">About</a>
            </div>
            <div class="contact">
                <a href="/about">Contact</a> |
                <a>me-tongxu.com</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
