<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>

<body>
	<div class="wrap">
		<h1>
			About me
			<a href="/" class="icon iconfont icon-home" title="Back Home"></a>
		</h1>
	</div>
</body>

</html>
