<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blogs -- Tong Xu's Personal Website</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blogs.css">
</head>

<body>
	<div class="wrap">
		<h1>
			Blogs
			<a href="/" class="icon iconfont icon-home" title="Back Home"></a>
		</h1>
		<div class="wrap_left" id="information">
		</div>
		<div class="wrap_right">
			<div id="blogs" class="blogs">	
			</div>
		</div>
	</div>
    <script type="text/javascript" src="/javascripts/blogs.js"></script>
</body>

</html>
