@import './comm/comm';
body {
    background: #FFFAFA;
}
.wrap {
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    h1 {
        width: 760px;
        border-bottom: 1px solid #000;
        margin: 10px;
        line-height: 50px;
        a {
            color: #000;
            float: right;
            font-size: 26px;
        }
    }
}